<!-- include header template -->
<%- include("partials/header") %> 

<h1>This is the home page!</h1>

<img width="600px" src="https://pomskyownersassociation.com/wp-content/uploads/2017/10/Pomsky-Nederlands-Pomsky-Photo-1.jpg">

<!-- include footer template -->
<%- include("partials/header") %> 