li {
    border: 2px solid blue; 
}

/* # refers to a specific ID in the .html */
#special {
    background: yellow;
}

/* . refers to a specific class in the .html */
.completed {
    text-decoration: line-through;
}